@import "tailwindcss";

@theme {
    /* Our Professional Palette */
    --color-vivid-navy: #253644;
    --color-vivid-teal: #5DFFEC;
    --color-vivid-mint: #95CBD0;
    --color-vivid-cream: #F8F9FA;

    /* Setting Montserrat as the primary font */
    --font-sans: "Montserrat", sans-serif;
}

/* A smooth background for the whole site */
html,
body {
    background-color: var(--color-vivid-cream);
    color: var(--color-vivid-navy);
}
.bg-grid-tech {
    background-size: 50px 50px;
    background-image:
        linear-gradient(to right, rgba(0, 0, 0, 0.05) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 1px, transparent 1px);
}
