@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* A smooth background for the whole site */
html,
body {
    background-color: #F8F9FA;
    color: #253644;
}

.bg-grid-tech {
    background-size: 50px 50px;
    background-image:
        linear-gradient(to right, rgba(0, 0, 0, 0.05) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 1px, transparent 1px);
}
